*.pyc
__pycache__/
database_construction/
*.DS_Store
GTDB/GTDB_db/
VMGC/VMGC_db/
cervical_dysplasia/microSLAM/NCBI_isolates/BLAST_NCBI_to_C75/l_crispatus_CDS_to_C75.out
GTDB/GTDB_metadata/bac120_metadata_*.tsv.gz
pangenomes.tar.gz
phyeco.fa.bwt
VMGC_GTDB_combined_db.tar.gz
lc_genomes_combined.fna
lc_CDS_combined.fna
l_crispatus_CDS_to_C75.out
compare_VMGC_GTDB/map_GTDB_versions/gtdb-taxdump/R220/nodes.dmp